<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlianhui.shiro.mapper.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.yunlianhui.shiro.entity.SysUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userName" jdbcType="VARCHAR" property="userName" />
		<result column="password" jdbcType="VARCHAR" property="password" />
	</resultMap>

	<select id="selectByUsername" parameterType="string" resultMap="BaseResultMap">
		SELECT * FROM sysuser
		WHERE userName = #{userName}
		ORDER BY id DESC
		LIMIT 1
	</select>
</mapper>