h1 {
  text-align: center;
  font-size: 250px;
  margin-bottom: 0px; }

p {
  text-align: center;
  color: #C4C4C4;
  font-size: 14px; }

div {
  text-align: center; }
  div div {
    display: inline-block;
    padding: 15px 30px;
    background: #00C3F3;
    color: #fff;
    border-radius: 5px; }
    div div a {
      text-decoration: none;
      color: #fff; }
